@import "../../assets/style/styles.scss";


.not-found-page {
    &__404{
        font-size: 5rem;
        color: #fc4a1a;
    }
    &__message{
        font-size: 1.5rem;
    }
    &__button{
        background-color: $btn-login-color !important;
        color: $topic-text-light !important;
        border: none;
    }
}

@include responsive_576 {
    .not-found-page{
        &__404{
            font-size: 10rem;
        }
        &__message{
            font-size: 3rem;
        }
    }
}



